{% extends "base.html" %}

{% block content %}

<h3 class="text-center">{{username}}</h3>

{% if entry %}
	<div id="entry-{{entry.key().id()}}" class="post">
		<div class="post-heading">
			{% if user and user.key().id() != entry.user %}
				<a href="#" class="entry-like" title="{{'Unlike' if favorites and entry.key().id() in favorites else 'Like'}} this entry!" data-id="{{entry.key().id()}}">
					<span class="glyphicon glyphicon-star{{'' if favorites and entry.key().id() in favorites else '-empty'}}"></span>
				</a> 
			{% endif %}
			<a href="/entry/{{entry.key().id()}}" class="post-title">{{entry.subject}}</a>
			<div class="post-date">{{entry.created.strftime("%b %d, %Y")}}</div>
		</div>
		{% if user and user.name == username %}
			<div class="post-edit">
				<a href="/edit/{{entry.key().id()}}" title="Edit Blog Entry">
					<span class="glyphicon glyphicon-edit fs-14 blue"></span>
				</a>
				<a href="#" class="delete-entry" data-id="{{entry.key().id()}}" data-type="entry" title="Delete Blog Entry" data-toggle="modal" data-target=".modal-confirm">
					<span class="glyphicon glyphicon-trash fs-14 red"></span>
				</a>
			</div>
		{% endif %}
		<div class="post-content">{{entry.content.replace("\n", "<br>") | safe}}</div>
		<div class="post-modified">Last Updated: {{entry.last_modified.strftime("%m/%d/%Y %I:%M %p")}}</div>
	</div>

	<h3 id="comments">Comments ({{comments.count() if comments else 0}})</h3>
	{% for comment in comments %}
		<div id="comment-{{comment.key().id()}}" class="comment">
			<div class="comment-heading">
				<div class="comment-date">{{comment.created.strftime("%b %d, %Y")}}</div>
			</div>
			<div class="comment-content">
				<div>
					{{comment.content.replace("\n", "<br>") | safe}}
				</div>
				<form class="comment-edit-form" method="post" style="display:none">
					<div class="form-group">
						<textarea name="content" class="form-control" rows="6">{{comment.content}}</textarea>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-default" onclick="$(this).closest('form').hide(); $(this).closest('form').prev('div').show();">Cancel</button>&nbsp;
						<button type="button" class="btn btn-primary save-comment">Save</button>
					</div>

					<input type="hidden" name="cid" value="{{comment.key().id()}}">
				</form>
			</div>
			<div class="comment-modified">
				Last Updated: {{comment.last_modified.strftime("%m/%d/%Y %I:%M %p")}} by <strong class="fs-13">{{comment.user.name}}</strong>
				&nbsp;&nbsp;&nbsp;
				{% if user and user.key().id() == comment.user.key().id() %}
					<a href="#" class="edit-comment" data-id="{{comment.key().id()}}" title="Edit Comment">
						<span class="glyphicon glyphicon-edit fs-12"></span>
					</a>
					&nbsp;
					<a href="#" class="delete-comment" data-id="{{comment.key().id()}}" data-type="comment" title="Delete Comment" data-toggle="modal" data-target=".modal-confirm">
						<span class="glyphicon glyphicon-trash fs-12 red"></span>
					</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}

	{% if user %}
		<h4>Add Comment</h4>
		<form method="post">
			<div class="form-group">
				<textarea id="content" name="content" class="form-control" rows="6">{{content}}</textarea>

				<div class="fs-11 m-t-5 {{'hidden' if not error_content else ''}}">
					<div class="alert alert-danger">{{error_content}}</div>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>

			<input type="hidden" name="cid" value="0">
		</form>
	{% endif %}

{% else %}
	<div class="alert alert-danger">
		Oops, we're sorry but we can't find the entry you're looking for.
	</div>
{% endif %}

{% endblock %}
